*{
    background-color: rgb(25, 25, 25);
}
body {
    margin: 0;            /* Reset default margin */
}
iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
.min-width{
    display: none;
}

@media (max-width: 600px) {
    .min-width{
        display: block;
        margin:auto;
        margin-top: 50%; 
    }
    .frame-unity{
        display: none;
    }
}

h1{
    color: aliceblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}